.wrapper {
  margin-top: 2rem;
}

.details {
  z-index: 9;
  position: relative;
  margin-top: -8rem;
}

.backdrop {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    width: 854px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 478px;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        #ffffff,
        rgba(255, 255, 255, 0.984) 0.97%,
        rgba(255, 255, 255, 0.945) 2.07833333%,
        rgba(255, 255, 255, 0.882) 3.29666667%,
        rgba(255, 255, 255, 0.804) 4.60166667%,
        rgba(255, 255, 255, 0.71) 5.96666667%,
        rgba(255, 255, 255, 0.608),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.396) 10.16%,
        rgba(255, 255, 255, 0.294) 11.505%,
        rgba(255, 255, 255, 0.204) 12.78%,
        rgba(255, 255, 255, 0.12) 13.95833333%,
        rgba(255, 255, 255, 0.06) 15.01666667%,
        rgba(255, 255, 255, 0.016) 15.92833333%,
        rgba(255, 255, 255, 0) 16.66666667%,
        rgba(255, 255, 255, 0) 83.33333333%,
        rgba(255, 255, 255, 0.016) 84.07166667%,
        rgba(255, 255, 255, 0.06) 84.98333333%,
        rgba(255, 255, 255, 0.12) 86.04166667%,
        rgba(255, 255, 255, 0.204) 87.22%,
        rgba(255, 255, 255, 0.294) 88.495%,
        rgba(255, 255, 255, 0.396) 89.84%,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.608),
        rgba(255, 255, 255, 0.71) 94.03333333%,
        rgba(255, 255, 255, 0.804) 95.39833333%,
        rgba(255, 255, 255, 0.882) 96.70333333%,
        rgba(255, 255, 255, 0.945) 97.92166667%,
        rgba(255, 255, 255, 0.984) 99.03%,
        #ffffff
      ),
      linear-gradient(
        to top,
        #ffffff,
        #ffffff 21.48148148%,
        rgba(255, 255, 255, 0.984) 23.63703704%,
        rgba(255, 255, 255, 0.945) 26.1%,
        rgba(255, 255, 255, 0.882) 28.80740741%,
        rgba(255, 255, 255, 0.804) 31.70740741%,
        rgba(255, 255, 255, 0.71) 34.74074074%,
        rgba(255, 255, 255, 0.608),
        rgba(255, 255, 255, 0.5) 40.97407407%,
        rgba(255, 255, 255, 0.396) 44.05925926%,
        rgba(255, 255, 255, 0.294) 47.04814815%,
        rgba(255, 255, 255, 0.204) 49.88148148%,
        rgba(255, 255, 255, 0.12) 52.5%,
        rgba(255, 255, 255, 0.06) 54.85185185%,
        rgba(255, 255, 255, 0.016) 56.87777778%,
        rgba(255, 255, 255, 0) 58.51851852%
      );
  }
}
